*.obj
*.exe
*.dll
*.pdb
*.ilk
*.sdf
*.idb
*.pch
*.ipch
*.lib

*~
*.tmp
*.bak
*.log

Debug/
Release/
x64/
x86/
*.user
*.suo
*.aps
*.ncb
*.opendb
*.sln.docstates

*.VC.db
*.VC.opendb
*.VC.VC.opendb

packages/

*.VC.VC.opendb
*.sln.docstates
*.sdf
*.opensdf